#main-body{
    form{
        input, button{
            border-radius: 0;
        }
    }
    table{
        td{
            color: #ffffff;
        }
    }
    span{
        color: #adadc7;
        font-size: 1.3rem!important;
        font-family: 'Monospace';
    }
}