<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- Local CSS -->
    <link rel="stylesheet" href="/css/style.css">


    <title>Hello, world!</title>
  </head>
  <body>
    <section id="main-body" class="bg-dark text-light py-5 vh-100">
      <div class="container d-flex align-items-center justify-content-center h-100">
        <div>
            <h2>Oh No!</h2>
            <h5>This isn't a valid IFSC Code!</h5>
            <a href="/"><-Go back to home</a>
        </div>
      </div>
    </section>
    <footer id="footer" class="bg-dark text-light fixed-bottom text-center">
        <p class="text-muted">Built using <a href="https://ifsc.razorpay.com/" target="blank">Razorpay IFSC Toolkit</a> by <a href="https://teamunocode.com" target="blank">Team Unocode</a></p>
      </footer>
    
  </body>
</html>